.mainnav{
       
    li{
        font-size: 20px;
        font-weight: bold;
        margin-left: 29px!important;
        transition: 1s all ease-in;
        padding: 10px;
    }

    li:hover{
         background-color:lighten($color: $light-green, $amount: 2);
        border-radius: 10px;
        color: white;
    
    }
}