/******************all colors************************/
$dark-green:#0D1F22;
$light-green:#84DCCF;


$black-color:#020100;
$upper-nav-bg:whitesmoke;
$orange-color:orangered;
$sky-blue:#32CBFF;
$pt-blue:#1D2F6F;