.contact-btn{
    background-color: lighten($color: #00CC99, $amount: 2);
    border: #00CC99                                  ;
}

.conatact{
    .card{
        border: 1px solid lighten($color: #00CC99, $amount: 2);
        padding: 20px;
        span{
            margin-top: -70px;
            border: 1px solid lighten($color: #00CC99, $amount: 2);
            border-radius: 50%;
            width: 80px;
            text-align: center;
            height: 80px;
        }
    }
    .input{
        
        border: 1px solid lighten($color: #00CC99, $amount: 2);
    }
}